/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* MAIN */

body {
  background-color: #66ccff;
  font-family: 'Raleway', sans-serif;
}
header {
  font-family: 'Indie Flower', cursive;
  color: white;
  text-align: center;
  font-size: 50px;
  height: 60px;
  margin: 10px auto;
}
.main {
  height: auto;
  margin: auto;
  width: 70%;
  border-radius: 5px;
  background-color: #e6f7ff;
}
/* FORM */
form {
  padding: 30px;
  text-align: center;
}
label {
  color: #005580;
}
#task-input {
  border: 1px solid #6cf;
  height: 22px;
  border-radius: 5px;
  width: 300px;
}

#add-button, #delete-button{
  text-align: center;
  color: white;
  background-color: #6cf;
  border: none;
  height: 25px;
  border-radius: 5px;
}
#task-div {
  background-color: white;
  border-radius: 5px;
  margin: 10px 100px;
  color: #005580;
}
#task-list {
  text-align: left;
}
#task-list li {
    padding: 3px 0;
}
.crossline {
  text-decoration: line-through;
  color: lightgray;
}
#delete-button {
  float: right;
  margin: 5px;
}
